<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/XIOOQmc.png" alt="Imagem de capa do card">

    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora Web Java Full Stack formada pelo bootcamp na  Generation Brasil.</p>

      <a href="https://www.linkedin.com/in/joelmatakeuchi/"  class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank"> LinkedIn</a>

      <a href="https://github.com/joelma-takeuchi"  class="btn btn-outline-dark  d-flex justify-content-center" target="_blank"> GitHub</a>
     
    </div>
  </div>
